@use '~variables/colors' as *;
@use '~mixins' as *;

$spinner-color: $white !default;
$preloader-bg: $black !default;

@use '~style-components/spinner' with (
  $spinner-chase-color: $spinner-color
);

.preloader {
  z-index: 1001;
  .loaded & {
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  &__wrapper {
    @include flex(column);
    @include flex-align();
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    .loaded & {
      opacity: 0;
      transform: translateY(-100%);
      transition: all 0.3s .5s ease-out;
    }
  }
  &__overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: $preloader-bg;
    z-index: 1000;
    .loaded & {
      opacity: 1;
      transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
    }
  }
}