@use '~variables/colors' as *;

// type chase
$spinner-chase-color: $white !default;
$spinner-chase-dots-count: 6 !default;
$spinner-chase-dots-delay: (
  1: -1.1s,
  2: -1.0s,
  3: -0.9s,
  4: -0.8s,
  5: -0.7s,
  6: -0.6s
) !default;

@keyframes spinner-chase {
  100% { transform: rotate(360deg); }
}

@keyframes spinner-chase-dot {
  80%, 100% { transform: rotate(360deg); }
}

@keyframes spinner-chase-dot-before {
  50% {
    transform: scale(0.4);
  } 100%, 0% {
    transform: scale(1.0);
  }
}

.spinner {
  &-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: spinner-chase 2.5s infinite linear both;
    &-dot {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      animation: spinner-chase-dot 2.0s infinite ease-in-out both;
      &::before {
        content: '';
        display: block;
        width: 25%;
        height: 25%;
        background-color: $spinner-chase-color;
        border-radius: 100%;
        animation: spinner-chase-dot-before 2.0s infinite ease-in-out both;
      }
      @each $index, $delay in $spinner-chase-dots-delay {
        &:nth-child(#{$index}),
        &:nth-child(#{$index})::before {
          animation-delay: $delay;
        }
      }
    }
  }
}
