include /components/index

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name='description' content='Web Boilerplate with Webpack and Pug')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='shortcut icon' href='/images/favicon.png' type='image/png')
    link(rel='apple-touch-icon' href='/images/favicon.png')
    block head_scripts
    block styles
    block title
      title
  body
    block container
    block body_scripts