// 320px — 480px: Mobile devices.
// 481px — 768px: iPads, Tablets.
// 769px — 1024px: Small screens, laptops portrait.
// 1025px — 1440px: Laptops landscape.
// 1441px and more — Extra large screens, TV.

$M: 480px;
$T: 768px;
$P: 1024px;
$L: 1200px;
$D: 1440px;

@mixin mqMIN($min) {
  @media screen and (min-width: $min) {
    @content;
  }
}

@mixin mqMAX($max) {
  @media screen and (max-width: $max) {
    @content;
  }
}

@mixin mqSize($size) {
  @if $size == phone {
    @include mqMAX($M) {
      @content;
    }
  }
  @if $size == tablet-portrait {
    @include mqMAX($P) {
      @content;
    }
  }
  @if $size == tablet-landscape {
    @include mqMAX($L) {
      @content;
    }
  }
  @if $size == desktop {
    @include mqMAX($D) {
      @content;
    }
  }
}