@mixin absolute-align($direction: false) {
  position: absolute;
  @if $direction == v-center {
    top: 50%;
    transform: translateY(-50%);
  } @else if $direction == h-center {
    left: 50%;
    transform: translateX(-50%);
  } @else {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin flex-align($direction: false, $type: false) {
  @if $direction == v-center and $type == row {
    align-items: center;
  } @else if $direction == h-center and $type == column {
    justify-content: center;
  } @else {
    justify-content: center;
    align-items: center;
  }
}

@mixin flex($type) {
  display: flex;
  @if $type == row {
    flex-direction: row;
  } @else if $type == column {
    flex-direction: column;
  }
}