@use 'sass:color';
@use '~variables/colors' as *;

@use './header';
@use './content';
@use './footer';

$app-preloader-bg: color.adjust($black, $lightness: 20%);
$app-spinner-color: $brown;

@use '~style-components/preloader' with (
  $preloader-bg: $app-preloader-bg,
  $spinner-color: $app-spinner-color
);