@use '~variables/colors' as *;
@use '~mixins' as *;

.footer {
  flex: 0 0 auto;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
  }
  &__copyright {
    @include setFont(bold, 1.4rem, $white);
  }
  &__links {
    display: flex;
    align-items: center;
    margin: 4px 0 0;
    &-section {
      &:not(:last-child) {
        margin-right: 24px;
      }
    }
  }
  &__link,
  &__icon {
    font-size: 1.4rem;
  }
  &__link {
    color: $white;
    text-decoration: none;
    transition: color .2s linear;
    &:hover {
      color: $grey;
    }
  }
  &__icon {
    & + .footer__link-text {
      display: inline-flex;
      margin-left: 4px;
    }
  }
}