@use '~variables' as *;
@use '~mixins' as *;

.header {
  position: relative;
  flex: 0 0 auto;
  &__logo {
    margin: 24px 0;
    text-align: center;
    @include setFont($lobster-font, 3rem, $white);
  }
}