mixin faIcon(options={})
  -
    const defaults = {
      classnames: 'fa fa-font-awesome'
    }

    const config = $.merge('objects', defaults, options)

  i(class=config.classnames aria-hidden='true')