mixin preloader(options)
  -
    const defaults = {
      spinner: 'chase',
      classname: 'preloader'
    }

    const config = $.merge('objects', defaults, options)
  .preloader__wrapper
    .preloader
      +spinner(config.spinner, config.classname)
    .preloader__overlay