include mixins

section.greeting
  - const data = $.requireFromModuleApp('home', 'data.json')

  img(src='/images/pug.png' width='200' height='200' alt='pug').greeting__logo
  h1.greeting__header Welcome to the New Project
  p.greeting__text with features:

  +renderFeatures(data.features)

  p.greeting__text You are in #{NODE_ENV} mode.