mixin renderFeatures(features)
  .greeting__images
    each feature in features
      a(href=feature.link title=feature.title rel='noreferrer' target='_blank').greeting__link
        img(src=`/images/${feature.imgSrc}` width='60' height='60'  alt=`${feature.title}-logo`).greeting__image