extends /layouts/app

block title
  title Welocme

block modify
  -
    let extraClasses = {
      header: 'app__header',
      content: 'app__content',
      footer: 'app__footer'
    }

block main
  include /modules/app/home/greeting
