footer.footer(class=extraClasses.footer || '')
  .footer__content
    .footer__copyright
    .footer__links
      .footer__links-section
        a(href='https://gitlab.com/SansYurin/pug-layout' rel='noreferrer' target='_blank').footer__link
          +faIcon({ classnames: 'footer__icon footer__icon--git fab fa-gitlab' })
          span.footer__link-text Gitlab