extends /templates/base

block title
  title #{PROJECT_NAME}

block container
  - let preloader = true
  block modify
    - let extraClasses = { header: '', content: '', footer: '' }

  block header
    include /modules/app/partials/header

  block content
    include /modules/app/partials/content

  block footer
    include /modules/app/partials/footer

  block extra
    if preloader
      +preloader('chase')
