// Circular Std
@font-face {
  font-family: 'Circular Std';
  src: local('Circular Std Book'),
       local('Circular-Std-Book'),
       url('/fonts/CircularStd/CircularStd-Book.woff2') format('woff2'),
       url('/fonts/CircularStd/CircularStd-Book.woff') format('woff'),
       url('/fonts/CircularStd/CircularStd-Book.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Std';
  src: local('Circular Std Medium'),
       local('Circular-Std-Medium'),
       url('/fonts/CircularStd/CircularStd-Medium.woff2') format('woff2'),
       url('/fonts/CircularStd/CircularStd-Medium.woff') format('woff'),
       url('/fonts/CircularStd/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Std';
  src: local('Circular Std Bold'),
       local('Circular-Std-Bold'),
       url('/fonts/CircularStd/CircularStd-Bold.woff2') format('woff2'),
       url('/fonts/CircularStd/CircularStd-Bold.woff') format('woff'),
       url('/fonts/CircularStd/CircularStd-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Std';
  src: local('Circular Std Black'),
       local('Circular-Std-Black'),
       url('/fonts/CircularStd/CircularStd-Black.woff2') format('woff2'),
       url('/fonts/CircularStd/CircularStd-Black.woff') format('woff'),
       url('/fonts/CircularStd/CircularStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

// Lobster
@font-face {
  font-family: 'Lobster';
  src: local('Lobster Regular'),
       url('/fonts/Lobster/Lobster-Regular.woff2') format('woff2'),
       url('/fonts/Lobster/Lobster-Regular.woff') format('woff'),
       url('/fonts/Lobster/Lobster-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}