@use '~variables/colors' as *;
@use '~mixins' as *;

$body__background: $brown;
$body__color: $black;

html{
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  font-size: 62.5%;
}

body {
  @include flex(column);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: $body__background;
  overflow-y: auto;
  @include setFont(default, 1rem, $body__color);
  * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased !important;
  }
}
