@use '~variables/colors' as *;
@use '~mixins' as *;
@use '~placeholders' as * ;

.greeting {
  @include flex(column);
  @include flex-align();
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  height: 100%;
  text-align: center;
  &__logo {
    width: 200px;
    object-fit: contain;
    @include mqSize(phone) {
      width: 150px;
    }
  }
  &__images {
    @include flex(row);
    @include flex-align();
    margin: 0 0 .5rem;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    background-color: $white;
    @include mqSize(phone) {
      padding: .5rem .8rem;
    }
  }
  &__image {
    display: inline-flex;
    flex:  0 0 auto;
    height: 6rem;
    object-fit: contain;
    @include mqSize(phone) {
      width: auto;
      height: 5rem;
    }
  }
  &__link {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 2rem;
      @include mqSize(phone) {
        margin-right: 1rem;
      }
    }
  }
  &__header {
    margin: 0 0 2rem;
    @include setFont(bold, 2.4rem, $white);
    @include mqSize(phone) {
      font-size: 1.8rem;
    }
    &::before {
      content: '';
      display: inline-block;
      margin-right: .5rem;
      width: 1.8rem;
      height: 1.8rem;
      background-image: url('/images/arrow-chevron.svg');
      @extend %bg-icon-contain;
    }
  }
  &__text {
    margin: 0 0 .5rem;
    line-height: 1.67;
    @include setFont(medium, 1.6rem, $white);
    &-inner {
      display: block;
    }
  }
}